<h1>Todo</h1>

<section id="filterDiv">
    <button [class]="getFilterClass('ALL')" (click)="filter('ALL')">All Todos</button>
    <button [class]="getFilterClass('ACTIVE')" (click)="filter('ACTIVE')">Active Todos</button>
    <button [class]="getFilterClass('COMPLETE')" (click)="filter('COMPLETE')">Complete Todos</button>
</section>

<section id="newTodoDiv">
    <form>
        <label for="newTodo">Description:</label>
        <input id="newTodo" #newTodo />
        <button (click)="addTodo(newTodo)">Add</button>
    </form>
</section>

<section id="todoList">
    <h2>{{(todoState | async)?.filterName}}</h2>
    <ul>
        <li *ngFor="#todo of filteredTodos | async">
            <button (click)="deleteTodo(todo)"><i class="glyphicon glyphicon-trash"></i></button>
            <span [style.text-decoration]="todo.done ? 'line-through' : 'none'" (click)="toggleTodo(todo)" [class]="getTodoClass(todo)">{{todo.id}} - {{todo.description}}</span>
        </li>
    </ul>
</section>
