section#todoList {
    height: 390px;
    width: 800px;
    overflow-y: scroll;
    overflow-x: scroll;

    ul {
        list-style: none;

        li {
            span {
                font-size: 18pt;
                font-family: Arial, Helvetica, sans-serif;
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                }

                // For some reason, I have to do the text-decoration as an inline-style
                &.active {
                    color: red;
                }
                &.complete {
                    color: black;
                }
            }
        }
    }
}

section#newTodoDiv {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;

    input {
        width: 600px;
    }
}

section#filterDiv {
    display: inline-block;
    margin-bottom: 10px;

    button {
        background-color: black;
        font-size: 12pt;
        border-radius: 10px;

        &.active {
            color: yellow;
            border: 5px solid orangered;
        }

        &.inactive {
            color: white;
            border: 5px solid gray;
        }
    }
}

