<div style="margin-left:50px">
    <span style="color:blue; font-size:14pt">Todo</span>

    <section id="filterDiv">
        <button [class]="getFilterClass('ALL')" (click)="filter('ALL')">All Todos</button>
        <button [class]="getFilterClass('ACTIVE')" (click)="filter('ACTIVE')">Active Todos</button>
        <button [class]="getFilterClass('COMPLETE')" (click)="filter('COMPLETE')">Complete Todos</button>
    </section>

    <span style="color:green; font-size:10pt" class="pull-right">To see Redux State, Click the <i>Toggle Left</i> Button, above</span>

    <section id="newTodoDiv">
        <form>
            <label for="newTodo">Description:</label>
            <input id="newTodo" #newTodo />
            <button (click)="addTodo(newTodo)">Add</button>
        </form>
    </section>

    <h2>{{(todoState | async)?.filterName}}</h2>

    <section id="todoList">
        <ul>
            <li *ngFor="#todo of filteredTodos | async; #index = index">
                <button (click)="deleteTodo(todo)"><i class="glyphicon glyphicon-trash"></i></button>
                <div style="display:inline-block; margin-right: 20px; width: 200px; height:50px; border: 1px solid black; border-radius:5px; padding: 5px;">
                    <div>
                        <span style="font-size:12pt; font-style:italic; color:red">{{todo.created | date:'MM/dd/yyyy hh:mm:ss tt'}}</span>
                    </div>
                    <div>
                        <span *ngIf="todo.done" style="font-size:12pt; font-style:italic; color:green">{{todo.completed | date:'MM/dd/yyyy hh:mm:ss tt'}}</span>
                        <span *ngIf="!todo.done" style="font-size:12pt; font-style:italic; color:green">(open)</span>
                    </div>
                </div>
                <div style="display:inline-block">
                    <span style="font-size:9pt" [style.text-decoration]="todo.done ? 'line-through' : 'none'" (click)="toggleTodo(todo)" [class]="getTodoClass(todo)">{{todo.id}} - {{todo.description}}</span>
                    <span style="margin-left:6px; color:green; font-size:7pt" *ngFor="#todoTag of todo.tags" (click)="deleteTag(todo, todoTag)">{{todoTag}}</span>
                    <input #todoInput id="todo_input_{{index}}" (focus)="todoInputLoad(todoInput)" style="margin-left:12px" #tag type="text" placeholder="T A G" (keydown)="keydown(todo, tag, $event)" />
                </div>
            </li>
        </ul>
    </section>
</div>