<div style="margin-left:10px; margin-right:10px;">
    <span style="color:blue; font-size:14pt">Todo</span>

    <section id="filterDiv">
        <button [class]="getFilterClass('ALL')" (click)="filter('ALL')">All Todos</button>
        <button [class]="getFilterClass('ACTIVE')" (click)="filter('ACTIVE')">Active Todos</button>
        <button [class]="getFilterClass('COMPLETE')" (click)="filter('COMPLETE')">Complete Todos</button>
    </section>

    <span style="color:green; font-size:10pt" class="pull-right">To see Redux State, Click the<br><i>Toggle Left</i> Button, above</span>

    <section id="newTodoDiv">
        <form>
            <input placeholder="New Todo" id="newTodo" #newTodo />
            <button class="btn btn-small" (click)="addTodo(newTodo)">Add</button>
        </form>
    </section>

    <div>
        <div style="display:inline_block; font-size:18pt; color:blue">{{(todoState | async)?.filterName}}</div>
        <div style="display:inline-block">
            <todo-tags (tagSelected)="filterOnTag($event)" [tags]="tags"></todo-tags>
        </div>
    </div>

    <section id="todoList">
        <ul>
            <li *ngFor="#todo of filteredTodos | async; #index = index">
                <button (click)="deleteTodo(todo)"><i class="glyphicon glyphicon-trash"></i></button>

                <span title="Created: {{todo.created | date:'MM/dd/yyyy hh:mm:ss tt'}}" style="font-size:12pt; font-style:italic; color:red">{{todo.created | date:'MM/dd'}}</span>
                <span> | </span>
                <span *ngIf="todo.done" title="Completed: {{todo.completed | date:'MM/dd/yyyy hh:mm:ss tt'}}" style="font-size:12pt; font-style:italic; color:green">{{todo.completed | date:'MM/dd'}}</span>
                <span *ngIf="!todo.done" style="font-size:12pt; font-style:italic; color:green">(open)</span>

                <span style="font-size:18pt" [style.text-decoration]="todo.done ? 'line-through' : 'none'" (click)="toggleTodo(todo)" [class]="getTodoClass(todo)">{{todo.id}} - {{todo.description}}</span>

                <span *ngFor="#todoTag of todo.tags" style="margin-left:5px; padding:3px; border-radius:5px; background-color:black; color:yellow; font-size:12pt" (click)="deleteTag(todo, todoTag)">{{todoTag}}</span>

                <input (blur)="tagLostFocus($event)" #tag id="todo_input_{{index}}" (focus)="tagFocus(tag)" style="margin-left:12px" type="text" placeholder="T A G" (keydown)="keydown(todo, tag, $event)" />
            </li>
        </ul>
    </section>
</div>