<div class="container">
	<h2>Login or <a class="btn btn-info btn-large" href="./#/register">Register</a></h2>

	<form action="">
		<div class="form-group">
			<input style="font-size:20pt; color:blue" id="username" autofocus type="text" placeholder="Username" [(ngModel)]="username" />
		</div>

		<div class="form-group">
			<input style="font-size:20pt" type="password" placeholder="Password" class="input-control" [(ngModel)]="password" />
		</div>

		<div class="form-group">
			<input type="button" (click)="login()" class="btn btn-info btn-large" placeholder="Submit" value="Submit" />
		</div>
	</form>

</div>