<h1>Angular 2 Mashup</h1>
<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <a id="weather" class="picture-button" href="./#/weather"></a>
            <div class="pic-caption">Real Time Weather &amp; Traffic</div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <a id="animals" class="picture-button" href="./#/animalgame"></a>
            <div class="pic-caption">Guess the Animal Game</div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a id="usage" class="picture-button" href="./#/usage"></a>
            <div class="pic-caption">Cellphone Data Usage</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <a id="chat" class="picture-button" href="./#/chat"></a>
            <div class="pic-caption">Real Time Chat</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <a id="quiz" class="picture-button" href="./#/quiz/quizcreation"></a>
            <div class="pic-caption">Take a Quiz!</div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="footer">Miscellaneous Other Items Also Available on the Main Menu</div>
