$buttonWidth: 370px;
$buttonHeight: 230px;
$borderPadding: 7px;

h1 {
    text-align: center;
    font-size: 24pt;
    color: black;
    margin-bottom: 20px;
}

.picture-button {
  display: block;
  padding: 10px;
  width: $buttonWidth;
  height: $buttonHeight;
  border: $borderPadding solid lightgray;
  border-radius: 5px;

  &#weather {
      background: url("./assets/img/us-weather.png") no-repeat;
  }
  &#animals {
      background: url("./assets/img/animals.png") no-repeat;
  }
  &#todo {
      background: url("./assets/img/redux.jpeg") no-repeat;
  }
  &#usage {
      background: url("./assets/img/cellusage.png") no-repeat;
  }
  &#chat {
      background: url("./assets/img/chat.png") no-repeat;
  }
  &#quiz {
      background: url("./assets/img/quiz.png") no-repeat;
  }

  &:hover {
      border: $borderPadding solid gray;
  }
}

div.pic-caption {
    width: $buttonWidth;
    margin-top: 5px;
    color: green;
    text-align: center;
    font-size: 16pt;
}

div.row {
    margin-bottom: 25px;
}