<h1>Redux Counter</h1>


<div>
<button (click)="counterService.incrementCounterNumber()">Increment Counter No.</button>
<button (click)="counterService.decrementCounterNumber()">Decrement Counter No.</button>
</div>

<h2>
    Current counter number is: {{counterService.getState().counterNumber}}
</h2>

<h2>
    Current value of the counter is: {{counterService.getState().getCounterVal()}}
</h2>

<div>
<button (click)="counterService.incrementCounter()">Increment</button>
<button (click)="counterService.decrementCounter()">Decrement</button>
</div>
