<h1>Todo</h1>

<div id="newTodoDiv">
    <label for="newTodo">Description:</label>
    <input id="newTodo" #newTodo />
    <button (click)="addTodo(newTodo)">Add</button>
</div>

<ul>
    <li *ngFor="#todo of filteredTodos | async">
        <span [style.text-decoration]="todo.done ? 'line-through' : 'none'" (click)="toggleTodo(todo)" [class]="getTodoClass(todo)">{{todo.id}} - {{todo.description}}</span>
    </li>
</ul>

<div id="filterDiv">
    <button (click)="filter('ALL')">All Todos</button>
    <button (click)="filter('ACTIVE')">Active Todos</button>
    <button (click)="filter('COMPLETE')">Complete Todos</button>
</div>
