$inputSize: 18pt;
$quizHeaderFontSize: 14pt;
$quizHeaderLabelColor: red;
$quizHeaderBackgroundColor: rgb(172,172,172);
$quizHeaderBorderRadius: 5px;
$questionFontSize: 24pt;

input, label {
	font-size: $inputSize;
}

table#quizHeader {

	background-color: $quizHeaderBackgroundColor;
	border: 1px solid blue;
	border-radius: $quizHeaderBorderRadius;
	font-size: $quizHeaderFontSize;

	tbody {
		tr {
			td {
				padding: 5px;

				&:nth-child(1) {
					color: $quizHeaderLabelColor;
				}
			}
		}
	}
}

section#quizBody {
	margin-top: 10px;
}

div#questionPanel {
	height: 460px;

	div#questionNumber {
		margin-top: 10px;
		font-size: 20pt;
		color: red;
	}

	div#question {
		margin-top: 10px;
		color: black;
		font-size: 24pt;
		padding: 5px;
		font-style: italic;
	}

	div#choices {
		margin-top: 10px;
		border: 1px solid black;
		border-radius: 5px;

		div.choice {
			color: black;
			font-size: 15pt;
			font-style: italic;
			padding: 5px;

			input.answerSelectButton {
				background-color: gray;
				color: black;
				border-radius: 5px;
				width: 120px;
			}

			label {
				padding: 3px;
				font-size: $questionFontSize;
				&.selectedAnswer {
					background-color: black;
					color: yellow;
					font-weight: bold;
					border-radius: 5px;
					border: 1px solid red;
				}
			}
		}
	}
}

div#navButtons {
	font-size: 20pt;
	margin: 10px;
	border-radius: 5px;
	padding: 3px;
}
