input, label {
  font-size: 18pt; }

table#quizHeader {
  background-color: #acacac;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 14pt; }
  table#quizHeader tbody tr td {
    padding: 5px; }
    table#quizHeader tbody tr td:nth-child(1) {
      color: red; }

section#quizBody {
  margin-top: 10px; }

div#questionPanel {
  height: 460px; }
  div#questionPanel div#questionNumber {
    margin-top: 10px;
    font-size: 20pt;
    color: red; }
  div#questionPanel div#question {
    margin-top: 10px;
    color: black;
    font-size: 24pt;
    padding: 5px;
    font-style: italic; }
  div#questionPanel div#choices {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px; }
    div#questionPanel div#choices div.choice {
      color: black;
      font-size: 15pt;
      font-style: italic;
      padding: 5px; }
      div#questionPanel div#choices div.choice input.answerSelectButton {
        background-color: gray;
        color: black;
        border-radius: 5px;
        width: 120px; }
      div#questionPanel div#choices div.choice label {
        padding: 3px;
        font-size: 24pt; }
        div#questionPanel div#choices div.choice label.selectedAnswer {
          background-color: black;
          color: yellow;
          font-weight: bold;
          border-radius: 5px;
          border: 1px solid red; }

div#navButtons {
  font-size: 20pt;
  margin: 10px;
  border-radius: 5px;
  padding: 3px; }
