section#questionReview {

    font-size: 14pt;
    color: blue;

    div#questionPanel {
        background-color: black;
        color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

        span#question {
            color: gold;
        }
    }
    span.correct {
        color: green;
        font-weight: bold;
    }
}

