<h1>User Test List Review for {{username}}</h1>

<h2 *ngIf="filterCategory">Showing tests convering category: {{filterCategory}}</h2>
<h2 *ngIf="!filterCategory">Showing all tests</h2>

<table id="reviewTable" hpSortable (sortOrder)="sortOn($event)">
    <thead>
        <tr>
            <th hpSortKey="testId">Test Id</th>
            <th hpSortKey="quizId">Quiz Id</th>
            <th hpSortKey="dateTaken">Date Taken</th>
            <th hpSortKey="questionCount">Questions</th>
            <th hpSortKey="testResult.score" class="score">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#userTest of userTests | TestCategoryFilter:filterCategory | fieldSort:sortOrder" (click)="reviewTest(userTest.testId)">
            <td>{{userTest.testId}}</td>
            <td>{{userTest.quizId}}</td>
            <td>{{userTest.dateTaken | date}}</td>
            <td>{{userTest.questionCount}}</td>
            <td class="score">{{userTest.testResult.score | percent:'1.2-2'}}</td>
        </tr>
    </tbody>
</table>