<md-content class="md-padding" layout="row" layout-align="center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Login</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center">
            <md-input-container>
                <label for="username">Username</label>
                <input md-input type="text" autofocus id="username" [(ngModel)]="username">
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <input md-input type="password" id="password" [(ngModel)]="password">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <button md-raised-button class="md-raised md-primary" [disabled]="!username || !password" (click)="login()">Login</button>
        </md-card-actions>
    </md-card>
</md-content>