<div class="container">
  <div>

    <h1>Registration</h1>

    <form (ng-submit)="onSubmit()" #f="form">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" required
          [(ng-model)]="registration.username"
            ng-control="username" #username="form" >
        <div [hidden]="username.valid" class="alert alert-danger">
          Username is required
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" required
          [(ng-model)]="registration.firstName"
            ng-control="firstname" #firstname="form" >
        <div [hidden]="firstname.valid" class="alert alert-danger">
          First name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" required
          [(ng-model)]="registration.lastName"
            ng-control="lastname" #lastname="form" >
        <div [hidden]="lastname.valid" class="alert alert-danger">
          Last name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="emailaddress">Email Address</label>
        <input type="email" class="form-control" required
          [(ng-model)]="registration.emailAddress"
            ng-control="emailaddress" #emailaddress="form" >
        <div [hidden]="emailaddress.valid" class="alert alert-danger">
          Email address is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required
          [(ng-model)]="registration.password"
            ng-control="password" #password="form" >
        <div [hidden]="password.valid" class="alert alert-danger">
          Password is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Re-enter Password</label>
        <input type="password" class="form-control" required
          [(ng-model)]="repeatedPassword"
            ng-control="password2" #password2="form" >
        <div [hidden]="password2.valid" class="alert alert-danger">
          Password is required.
        </div>
        <div [hidden]="!password.valid || !password2.valid || password.value === password2.value" class="alert alert-danger">
          Password don't match!
        </div>
      </div>

      <button type="submit" class="btn btn-default"
              [disabled]="!f.form.valid || password.value !== password2.value">Submit</button>

    </form>
  </div>
</div>