<div class="container">
    <h1>Chat</h1>
    <h2>{{user.username}}</h2>
    <section id="compose">
        <div>Enter your message:</div>
        <textarea id="messageEntry" #msg [(ng-model)]="message"></textarea>
        <div>
            <button (click)="sendMessage(msg.value)">Send</button>
        </div>
    </section>

    <section id="thread">
        <div *ng-for="#chatmessage of thread" class="panel panel-default">
            <div class="panel-heading">
                <span>Message from {{chatmessage.username}} at {{chatmessage.time | date:'EEEE hh:mm:ss'}}</span>
            </div>
            <div class="panel-body">
                {{chatmessage.message}}
            </div>
        </div>
    </section>
</div>