    <div class="row">
        <div class="col-md-9">
            <div id="mapAndMessage">
                <weather-map [lastupdate]="lastUpdate" [lastaccident]="lastAccident"></weather-map>
                <div class="col-md-9">
                    <span id="lastAccidentReport">{{lastAccidentReport}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Traffic Info</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Accidents</th>
                        <th>Vehicles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#stat of stateStats">
                        <td>{{stat.state}}</td>
                        <td>{{stat.numberOfAccidents}}</td>
                        <td>{{stat.numberOfVehicles}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
