div#menu {
    height: 560px;
    background-color: black;
    font-size: 28pt;

    a {
        padding-bottom: 50px;
        display: block;
        color: gold;
        margin-left: 50px;
        text-decoration: none;
        transition: transform 100ms;

        &:hover {
            transform: translateX(-4px);
            color: orangered;
        }
    }
}
