<div class="roleContent">
    <div id="roleName">{{role?.name}}</div>
    <div id="roleDescription">({{role?.description}})</div>
    <div id="currentUsersLabel">Current Users</div>

    <ul id="roleMembers">
        <li *ngFor="#member of roleMembers">
            <button (click)="removeMember(member)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <span>{{member.username}}</span>
        </li>
    </ul>

    <div id="userPickList">
        <userPickList #picker></userPickList>
    </div>
    <button id="addMemberButton" [disabled]="!picker.selectedUsername" (click)="addMember(picker.selectedUsername)">Add {{picker.selectedUsername}}</button>

</div>