<h2>Users</h2>

<table id="users">
    <thead>
        <tr>
            <th (click)="sortBy('userId')">User Id</th>
            <th (click)="sortBy('username')">Username</th>
            <th (click)="sortBy('emailAddress')">Email</th>
            <th (click)="sortBy('firstName')">First Name</th>
            <th (click)="sortBy('lastName')">LastName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#user of users | async | fieldSort:sortOrder">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.emailAddress}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
        </tr>
    </tbody>
</table>