h1 {
  text-align: center;
  font-size: 20pt;
  color: black;
  margin-bottom: 20px; }

.picture-button {
  display: block;
  padding: 10px;
  width: 370px;
  height: 220px;
  border: 7px solid lightgray;
  border-radius: 5px; }
  .picture-button#weather {
    background: url("./assets/img/us-weather.png") no-repeat; }
  .picture-button#animals {
    background: url("./assets/img/animals.png") no-repeat; }
  .picture-button#usage {
    background: url("./assets/img/us-weather.png") no-repeat; }
  .picture-button#cat {
    background: url("./assets/img/us-weather.png") no-repeat; }
  .picture-button:hover {
    border: 7px solid gray; }

div.pic-caption {
  width: 370px;
  margin-top: 5px;
  color: green;
  text-align: center;
  font-size: 16pt; }

div.row {
  margin-bottom: 50px; }
