<div class="container">
	<table id="quizHeader">
		<tbody>
			<tr>
				<td>Quiz Id:</td>
				<td>{{quiz.quizId}}</td>
			</tr>
			<tr>
				<td>Categories:</td>
				<td>{{quiz.categories}}</td>
			</tr>
			<tr>
				<td>Number of Questions</td>
				<td>{{quiz.questionCount}}</td>
			</tr>
		</tbody>
	</table>
	<section id="quizBody">
		<div [ngSwitch]="proctorState">
			<template [ngSwitchWhen]="0">
				<h1>Initializing...</h1>
			</template>
			<template [ngSwitchWhen]="1">
				<div>
					<label>Enter your name and then click start</label>
					<input type="text" placeholder="Name" [(ngModel)]="name" />
				</div>
				<div>
					<input type="button" value="Start" (click)="startQuiz()" />
				</div>
			</template>
			<template [ngSwitchWhen]="2">

				<div id="questionPanel">
					<div id="questionNumber">
						Question number {{currentQuestion.questionNumber}} ({{currentQuestion.category}}) of {{quiz.questionCount}}
					</div>

					<div id="choices">
						<div id="question">
							{{currentQuestion.question}}
						</div>
						<div class="choice" *ngFor="#choice of currentQuestion.responsesShown; #i = index">
							<input class="answerSelectButton" type="button" [value]="i+1" (click)="userChecked(i)" />
							<label [ngClass]="getAnswerClass(i)">{{choice}}</label>
						</div>
					</div>
				</div>
				<div id="navButtons">
					<button (click)="previousQuestion()" [hidden]="currentQuestion.questionNumber === 1">Back</button>
					<button (click)="nextQuestion()" [hidden]="currentQuestion.questionNumber === quiz.questionCount">Next</button>
					<button (click)="scoreTest()" [hidden]="currentQuestion.questionNumber !== quiz.questionCount">Submit for Grading</button>
				</div>
			</template>
			<template ngSwitchDefault>
				<div>Oops. I'm in an unknown state!</div>
			</template>
		</div>
	</section>
</div>