<div class="container">
    <h1>Quiz Administration</h1>

    <form [ngFormModel]="form">
        <div class="input-group">
            <label>
                Question Category:
                <select class="catSelect" ngControl="category">
                    <option *ngFor="#c of categories | async" [value]="c">{{c}}</option>
                </select>
            </label>

            <label>
                Answer Category:
                <select class="catSelect" ngControl="answerCategory">
                    <option *ngFor="#ac of answerCategories | async" [value]="ac">{{ac}}</option>
                </select>
            </label>
        </div>
    </form>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Answer Category</th>
                <th>Answer</th>
                <th>Editing</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#q of filteredQuestions | async">
                <td>{{q.questionId}}</td>
                <td>{{q.question}}</td>
                <td>{{q.answerCategory}}</td>
                <td>
                    <span [ngClass]="getQuestionClass(q)" [hidden]="q.editing" (click)="q.editing = true">{{q.answer}}</span>
                    <input [hidden]="!q.editing" [(ngModel)]="q.answer" (blur)="q.editing = false; q.changed = true" />
                </td>
                <td>{{q.editing}}</td>
                <td>
                    <input type="button" value="Update" (click)="updateQuestion(q)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
