section#questionReview {
  font-size: 14pt;
  color: blue; }
  section#questionReview div#questionPanel {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px; }
    section#questionReview div#questionPanel span#question {
      color: gold; }
  section#questionReview span.correct {
    color: green;
    font-weight: bold; }
