table {
	font-size: 12pt;

	thead tr {
		background-color: black;
		color: yellow;
	}
	tbody, thead {
		tr {
            
            &:nth-child(2n+1) {
                background-color: lightgrey;

            }

			td, th {
				border: 1px solid black;
				padding: 4px;
				&.correct {
					color: green;
				}
				&.incorrect {
					color: red;
				}
			}

            &:hover {
                background-color: black !important;
                color: white !important;
                cursor: pointer;
            }
		}
	}
}