<table border="1">
	<thead>
		<tr>
			<th>Category</th>
			<th>Question</th>
			<th>Correct</th>
			<th>Incorrect</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#s of test.sectionResults">
			<td>{{s.sectionName}}</td>
			<td>{{s.questionCount}}</td>
			<td style="color:green">{{s.correctCount}}</td>
			<td style="color:red">{{s.incorrectCount}}</td>
			<td>{{s.score}}</td>
		</tr>
		<tr>
			<td>Totals</td>
			<td>{{test.testResult.questionCount}}</td>
			<td style="color:green">{{test.testResult.correctCount}}</td>
			<td style="color:red">{{test.testResult.incorrectCount}}</td>
			<td>{{test.testResult.score}}</td>
		</tr>
	</tbody>
</table>