table {
	font-size: 16pt;

    td, th {
        padding: 5px;
        text-align: center;
    }

    thead {
        tr {
            background-color:black;
            color:yellow;
        }
    }

    tbody {
        tr {

            &:nth-child(2n+1) {
                background-color: lightgray;
            }

            &#totalsRow {
                background-color:black;
                color:yellow;
            }
        }

    }
}