table {
	font-size: 16pt;

	tr {
		td, th {
			padding: 5px;
			text-align: center;
		}

		&:nth-child(2n+1) {
			background-color: turquoise;
		}
		&:last-child {
			background-color:black;
			color:yellow;
		}
	}
}