table {
  font-size: 12pt; }
  table thead tr {
    background-color: black;
    color: gold; }
  table tbody tr:nth-child(2n+1) {
    background-color: lightgrey; }
  table tbody tr:hover {
    background-color: black !important;
    color: white !important;
    cursor: pointer; }
  table tbody tr td.correct {
    color: green; }
  table tbody tr td.incorrect {
    color: red; }
  table tbody tr td, table tbody tr th, table thead tr td, table thead tr th {
    border: 1px solid black;
    padding: 4px; }
