<div class="container">

    <div>
        <!-- Nav tabs -->
        <ul id="reviewTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#testList" aria-controls="testList" role="tab" data-toggle="tab">Test List</a></li>
            <li role="presentation"><a href="#testDetail" aria-controls="testDetail" role="tab" data-toggle="tab">Test Detail</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="testList">
                <h1>User Review for {{username}}</h1>
                <table id="reviewTable">
                    <thead>
                        <tr>
                            <th>Test Id</th>
                            <th>Quiz Id</th>
                            <th>Date Taken</th>
                            <th>Questions</th>
                            <th class="score">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#userTest of userTests" (click)="reviewTest(userTest.testId, userTest.quizId)">
                            <td>{{userTest.testId}}</td>
                            <td>{{userTest.quizId}}</td>
                            <td>{{userTest.dateTaken | date}}</td>
                            <td>{{userTest.questionCount}}</td>
                            <td class="score">{{userTest.testResult.score | percent:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="testDetail">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>