<div class="roleContent">
    <div id="roleName">{{role?.name}}</div>
    <div id="roleDescription">({{role?.description}})</div>
    <div id="currentUsersLabel">Current Users</div>

    <ul id="roleMembers">
        <li *ngFor="#member of roleMembers">
            <button (click)="removeMember(member)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <span>{{member.username}}</span>
        </li>
    </ul>

    <div id="userPickList">
        <userPickList (selectedUser)="selectUser($event)"></userPickList>
    </div>

    <button *ngIf="selectedUser" id="addMemberButton" (click)="addMember(selectedUser)">Add {{selectedUser?.username}}</button>

</div>
