div#userPickListDiv {

    select#userPickList {
        -webkit-appearance: menulist-button;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24pt;
        color: blue;
    }
}
