table#users {

    font-size: 14pt;

    thead {
        background-color: black;
        color: gold;

        th {
            cursor: pointer;

            &:hover {
                color: yellow;
            }
        }
    }

    tbody {
        background-color: lightgreen;
        color: black;

        tr:nth-child(odd) {
            background-color: lightblue;
        }
    }

    td, th {
        padding: 3px;
        border: 1px solid black;
    }
}